.profile-container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  border-radius: 10px;
}

.user {
  float: left;
  border: 1px solid black;
  margin: 10px;
  width: 20%;
  padding: 2%;;
  height: 250px;
}

.profile-lessons-index {

  display: flex;
  flex-direction: column;
  padding: none;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  overflow: scroll;
}

.profile-item-container {
  width: 80%;
  display: inline-block;
  background-color: $background-color-gray;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  box-sizing: border-box;


  .profile-title-container {
    width: 100%;
    height: 20%;
    padding-left: 20px;
    padding-top: 10px;

    .profile-title {
      text-decoration: none;
      color: black;
      font-weight: 700;
    }
  }

  .profile-lessons-pic {
    width: 25%;
    height: 70%;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    float: left;
    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 10px;
        display: block;
    }
  }

  .profile-lessons-description {
    width: 65%;
    height: 70%;
    float: left;

    .profile-edit-delete-buttons {
      position: relative;
    }
  }

}
.profile-title {
  text-align: center;
}
