.tabs {
  margin-left: 20px;
  margin-right:20px;
}

.tabs-labels {
  display: flex;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  margin-left: 10px;

  li {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding: 0 15px;
    vertical-align: middle;
    background-color: $border-gray;
    border-radius: 5px 25px 0px 0px;
    a {
      text-decoration: none;
      display: inline-block;
      font-weight: 600;
    }

  }
  .add-tab:before {
    content: "\f067";
    font-family: FontAwesome;
    font-size: 14px;
    padding-right: 5px;
  }

  li:hover {
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

  .active {
    background-color: $color-green;
  }

}

.pane {
  list-style-type: none;
}
