.tabs {
  // border: 2px solid blue;

}

.tabs-labels {
  // border: 2px solid red;
  display: flex;

  .label {
    // border: 2px solid green;
    a {
      // border: 2px solid yellow;
      text-decoration: none;
      display: inline-block;
    }
    a:hover {
      filter: brightness(95%);
      -webkit-filter: brightness(95%);
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }

    .active {
      background-color: $border-gray;
    }
  }


}

.pane {
  // border: 2px solid orange;
  list-style-type: none;
}
