.nav-bar{
  background-color: white;
  position: fixed;
  margin: 0 auto;
  padding: 12px 16px 12px 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 1400px;
  border-bottom: 1px solid #e6e6e6;
  display: block;
}

#nav-bar-item {
  float: left;
  display: inline-block;
  background-color: white;
  line-height: 40px;
  position: relative;
  text-align: center;
}

.search {
  height: 35px;
  font-size: 16px;
  font-weight: 600;
  background-color: #A9A9A9;
  box-sizing: border-box;
  width: 400px;
  border-radius: 3px;
  margin: 2px 15px 0 15px;
  text-align: left;
}

.logo {
  padding: 0 2px 0 2px;
  margin: 0 auto;
  border-radius: 3px;
}

.logo:hover {
  cursor: pointer;
}

.nav-button {
  padding: 8px 10px;
  margin: 0 5px 0 5px;
  background-color: #93C47D;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
