.lesson-form-component {
  z-index: 3;
  margin: 0 10px;
  border-radius: 3px;

  .lesson-form {
    overflow: scroll;
    height: 80vh;
    border: 4px solid $dark-gray;
    padding-top: 15px;
    padding-left: 50px;
    position: relative;

    .lesson-pic-container {
      width: 30%;
      max-height: 50%;
      border: 3px solid gray;
      border-radius: 5px;
      overflow: hidden;
      margin-left: 110px;

      .lesson-pic {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
      }
    }

  }

  .lesson-details {
    margin: 20px 5px;

    label {
      display: inline-block;
      float: left;
      clear: left;
      min-width: 100px;
      font-weight: 600;
      text-align: right;
      margin-right: 5px;
    }

    .lesson-item {
      display: inline-block;
      float: left;
    }

    .title {
      padding: 1px 8px;
      width: 33%;
    }

    select, input[type="date"] {
      width: 34%;
    }



  }
  .upload-button {
    background-color: $background-color-gray;
    border: 2px solid $submit-green;
    margin-left: 110px;
    padding: 5px 10px;
    color: $dark-gray;
  }

}



.form-submit {
  position: absolute;
  right: 30px;
  margin-top: 5px;
}
.form-submit:before {
  content: "\f1d9";
  font-family: FontAwesome;
  font-size: 20px;
  padding-right: 5px;
}

.delete-lesson:before, .delete-section:before {
  content: "\f1f8";
  font-family: FontAwesome;
  font-size: 20px;
  padding-right: 5px;
}


.delete-lesson {
  padding: 10px;
  background-color: $dark-gray;
  border-radius: 5px;
  position: absolute;
  right: 205px;
  margin-top: 5px;
}
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

::-webkit-datetime-edit-text {
  color: #4CAF50;
  padding: 0 0.3em ;
}


.box {
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #999;
      border-radius: 3px;
      width: 180px;
      height: 180px;
      margin: 10px;
      padding: 10px;
      float: left;
}


.delete-part, .delete-section {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: 4px;
  background-color: $dark-gray;
}

.delete-section {
  position: absolute;
  top: 0;
  right: 5px;
}
.textarea-field, .questioncfu, .answercfu {
  width: 90%;
  font-weight: 600;
  border: 2px solid $dark-gray;
  padding: 10px 10px;
}

label {
  font-weight: 600;
}

.add-field:before {
  content: "\f067";
  font-family: FontAwesome;
  font-size: 14px;
  padding-right: 5px;
}

.section-form {
  .section-label {
    display: block;
    margin-top: 15px;
    text-align: left;
  }
  .section-field {
    margin: 20px 5px;
  }
}

.question-label {
  text-decoration: underline;
}

.cfu-container, .objective-container, .mis-container {
  border-bottom: 1px solid $border-gray;
}

.kp-container {
  margin-top: 30px;
}

.mis-container {
  padding-bottom: 20px;
}


.lesson-show-buttons {
  float: right;
}
