.lesson-form-component {
  // border: 2px solid green;
  margin: 0 10px;

  .lesson-form {
    border: 3px solid $border-gray;
    // margin-top: 15%;
    padding-top: 15px;
    padding-left: 50px;

    .lesson-pic-container {
      width: 30%;
      max-height: 50%;
      border: 3px solid gray;
      border-radius: 5px;
      overflow: hidden;
      margin-left: 110px;

      .lesson-pic {
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
      }
    }

  }

  .lesson-details {
    margin: 20px 5px;

    label {
      display: inline-block;
      float: left;
      clear: left;
      min-width: 100px;
      text-align: right;
      margin-right: 5px;
    }

    .lesson-item {
      display: inline-block;
      float: left;
    }

    .title {
      padding: 1px 8px;
      width: 33%;
    }

    select, input[type="date"] {
      width: 34%;
    }



  }
  .upload-button {
    background-color: $background-color-gray;
    border: 2px solid $submit-green;
    margin-left: 110px;
    padding: 5px 10px;
    color: gray;
  }

  .form-submit {
    margin-left: 105px;
  }
  .form-submit:before {
    content: "\f1d9";
    font-family: FontAwesome;
    font-size: 14px;
    padding-right: 5px;
  }
}




input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

::-webkit-datetime-edit-text {
  color: #4CAF50;
  padding: 0 0.3em ;
}


.box {
      box-sizing: border-box;
      background: #fff;
      border: 1px solid #999;
      border-radius: 3px;
      width: 180px;
      height: 180px;
      margin: 10px;
      padding: 10px;
      float: left;
}
