.section-show-label{
  margin-right: 10px;
}

.show-name-field {
  margin: 20px;
}

.show-subsection {

}

.show-sub-item {
  margin-left: 5px;
  padding: 5px;
}

.cfu-show-container {
  margin-top: 10px;
}
